
body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #6d6565;
	width: 100% !important;
	height: 100% !important;
}

h1 {
	font-weight: 700;
}

header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}

.button {
	color: #fff;
	background-color:transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0
	font-size: 16px;
	border-radius: 0;
}
.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../imgs/MovingForest.jpg) no-repeat center top;
	background-color: #d17b7b;

}

.intro .intro-text {
	max-width: 75%;
}


.navbar-custom {
	margin-bottom: 0;
	background-color: #121d1f;
	border-radius: 0px;
	padding: 10px 0;
}