
body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #6d6565;
	width: 100% !important;
	height: 100% !important;
}

h1 {
	font-weight: 700;
}

header .intro-text {
	padding-top: 200px;
	padding-bottom: 200px;
}


#nav {
	z-index: 9999;
}


.navbar-center
{
	padding:0;
	margin-top:0;
	text-align:center !important;
	position: absolute;
	left: 50%;
	transform: translatex(-50%);

}


.navbar-dropdown
{

	overflow = hidden;
	float:left !important;
	text-align:left;
	padding:0;
	margin-top:0;
	margin-bottom: 0:;
	left: 0;
	right: auto;
}

.dropdown-content {
	display:none;
	color: black;
	text-decoration: none;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.navbar-dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropbtn{
	font-size: 20px;

	border: none;
	outline: none;
	color: white;
	vertical-align: center;


}
.navbar-center li
{
	display: inline;
}

.navbar-center li a
{
	display:inline-block;
	
}

.navbar-right
{
	float:right !important;
	text-align:right !important;
	padding-right: 10px;
	margin-top:0;
	margin-bottom: 0;
	right: 0;
	left: auto;
}
.navbar-right li
{
	
	display:inline;

}
.navbar-right li a
{
	
	display:inline-block;

}
.navbar-left
{
	float:left !important;
	text-align:left;
	padding:0;
	margin-top:0;
	margin-bottom: 0:;
	left: 0;
	right: auto;

}

.navbar-left li
{
	
	display:inline;
}
.navbar-left li a
{
	
	display:inline-block;

}

.navbar-left-dropdown

{

}

.navbar-custom {
	top: 0;
	margin-bottom: 0;
	background-color: #121d1f;
	border-radius: 0px;
	padding: 10px 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 30px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}

.navbar-u1
{
	display:inline-block;
}


.btn-default {
	color: #fff;
	background-color:transparent;
	border-color: transparent;
	padding: 10px 20px;
	margin: 0
	font-size: 16px;
	border-radius: 0;
}

.btn-nav {
	color: #fff;
	background-color: #transparent;
	padding: 10px 20px;
	margin: 0;
	font-family: Arial;
	font-size: 16px;
	border-radius: 0;

}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 0 0;
	text-align: center;
	color: #fff;
	background: url(../imgs/MovingForest.jpg) no-repeat center top;
	background-color: #d17b7b;

}

.intro .intro-text {
	max-width: 75%;
}



